body {
	background:orange;
}

h1 {
	color: blue;
	display: flex;
	justify-content: center;
	font-size: 100px;
}

h1:hover {
	color: red;
	background: black;
	font-size: 130px;
}

img {
	max-height: 500px;
	max-width: 500px;
}

img:hover {
	border: yellow solid 15px;
}

h3 {
	font-size:50px;
	color: red;
}

p:hover {
	color: red;
	background: black;
	font-size: 30px;
}

@media screen and (min-width: 1000px)
{

body {
background: brown;
display: inline-block;
}

h1 {
	color: black;
	background: orange;
	border: solid black 20px;
}

h1:hover {
	border: black dashed 30px;
	background: red;
	color: orange;
}

h2 {
display: flex;
justify-content: center;
color: yellow;
}

.EarlyLife {
	background: blue;
	max-width: 500px;
	display:flex;
	justify-content: center;
	align-self: center;
}

.Early {
color: yellow;
font-size: 20px;
}

.EarlyTitle {
font-size: 30px;
color: red;
} 

.Info {
	font-size: 15px;
	color: orange;
}

.Major:hover {
	 -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.EarlyLife:hover {
	min-width: 800px;
	border: red solid 20px;
}

p:hover {
	 font-size: 40px;
}

.WorkLife {
	background: red;
	max-width: 500px;
	margin-top: 30px;
}

.WorkLife:hover {
	min-width: 800px;
	border: black 20px solid;
}

.WorkTitle {
	font-size: 30px;
}

.Work {
	color: orange;
}

.Accomplishments {
	background: green;
	max-width: 500px;
}

.Accomplishments:hover {
	border: blue solid 20px;
}

.AccompTitle {
	font-size: 30px;
}

img {
	max-width: 500px;
	display: inline-block;
	justify-content: center;
	margin-top: 20px;
	min-width: 20px;
}

img:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);

}

h3 {
	font-size:50px;
	color: orange;
}



h1:hover {
-webkit-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
}







@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    30%
    {
        -webkit-transform: translateX(-100px);
       transform: translateX(-100px);
    } 
    50%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    65%
    {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    80%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    30%
    {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    50%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    65%
    {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    80%
    {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

h3:hover {
-webkit-animation: swing 5s ease;
        animation: swing 5s ease;
        -webkit-animation-iteration-count: 5;
        animation-iteration-count: 5;	
}

}